@media only screen and (max-width: 2000px) {
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        overflow-x: hidden;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #333;
      }
      
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        float: right;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .topnav a.active {
        background-color: #04AA6D;
        color: white;
      }
    
      .topnav img
      {
        width: 150px;
        height: 100px;
        margin-top: -15px;
        margin-left: -10px;
        margin-bottom: -41px;
      }
    
      #largetext h1
      {
        color: black;
        font-size: 150px;
        color: white;
        opacity: 0.5;
        margin-top: 300px;
      }
      
      .video-container {
        height: 100%;
        width: 100%;
        position: relative;
        margin-bottom: 300px;
      }
    
      .video-container video {
      width: 100%;
      height: 120%;
      position: absolute;
      object-fit: cover;
      z-index: 0;
      }
    
      .video-container #largetext {
      z-index: 1;
      position: relative;
      text-align: center;
      color: #dc0000;
      padding: 10px;
      }

      #largetext-2 h1
      {
        color: white;
        font-size: 150px;
        color: white;
        opacity: 0.5;
        margin-top: 300px;
      }
      
      .video-container-2 {
        height: 100%;
        width: 100%;
        position: relative;
      }
    
      .video-container-2 video {
          width: 100%;
          height: 160%;
          position: absolute;
          object-fit: cover;
          z-index: 0;
      }
    
      .video-container-2 #largetext-2 {
      z-index: 1;
      position: relative;
      text-align: center;
      color: #dc0000;
      padding: 10px;
      }
    
      #sec1
      {
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 500px;
        gap: 50px;
        margin-bottom: 100px;
      }
    
      #sec1 .up
      {
        width: 150px;
        margin-left: -50px;
      }
    
      #sec1 p
      {
        margin-left: -20px;
      }
    
      #sec1 i
      {
        font-size: small;
        margin-left: -70px;
      }
    
      #sec1 img
      {
        width: 400px;
        margin-left: -150px;
      }
      .share-options div
      {
        display: grid;
        grid-template-columns: repeat(3, auto);
        margin-left: 100px;
        margin-top: 30px;
        margin-bottom: 50px;
        gap: 50px;
      }
    
      .share-options i
      {
        font-size: 30px;
      }
    
      .share-options i:hover
      {
        border: none;
      }

      #sec2
    {
        background-color: #333;
        margin-top: 270px;
    }
    #sec2 p
    {
        font-size: 20px;
        margin-left: 100px;
        margin-top: 150px;
        color: white;
        width: 100%;
        text-align: center;
    }

    #sec2 img
    {
        width: 450px;
        height: 290px;
        margin-left: 250px;
        margin-top: 100px;
    }

    #sec3
    {
        display: grid;
        grid-template-columns: 60% 40%;
        background-color: #333;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    #sec3 p
    {
        font-size: 20px;
        margin-left: -500px;
        margin-top: 100px;
        color: white;
        width: 150%;
        text-align: center;
    }

    #sec3 img
    {
        width: 450px;
        height: 290px;
        margin-left: 100px;
        margin-top: 30px;
    }

    #sec4
    {
        display: grid;
        grid-template-columns: 60% 40%;
        background-color: white;
        margin-top: 500px;
        margin-bottom: 20px;
    }
    #sec4 div
    {
        font-size: 20px;
        margin-left: 20px;
        color: white;
        margin-bottom: 50px;
        margin-top: 80px;
    }

    #sec4 a
    {
        margin-left: 400px;
        color: black;
        margin-top: 10px;
    }

    #sec4 img
    {
        width: 450px;
        margin-top: -25px;
        margin-left: -275px;
    }

    #sec5
    {
        display: grid;
        grid-template-columns: 60% 40%;
        background-color: white;
        margin-top: 290px;
        margin-bottom: 20px;
    }

    #sec5 p
    {
        margin-left: 300px;
        color: black;
    }

    #sec5 img
    {
        width: 300px;
        margin-top: 25px;
    }

    #sec6
    {
        display: grid;
        grid-template-columns: 70% 30%;
        background-color: white;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 100px;
    }

    #sec6 p
    {
        margin-left: -70px;
        color: white;
        width: 600px;
        text-align: center;
        margin-top: 30px;
    }

    #sec6 #text
    {
        margin-left: -400px;
        color: black;
        font-size: 20px;
        width: 600px;
        margin-top: 200px;
        margin-bottom: 50px;
    }
    #sec6 button
    {
        border: 1px solid green ;
        background-color: white;
        color: black;
        margin-left: -250px;
        margin-bottom: 100px;
        width: 300px;
        height: 50px;
        cursor: pointer;
        border-radius: 20px 20px;
        text-transform: uppercase;
        font-size: 15px;
    }

    #sec6 button:hover
    {
        background-color: #04AA6D;
        color: white;
        cursor: pointer;
    }

    #sec6 img
    {
        width: 600px;
        height: 500px;
        margin-top: 5px;
    }

    .container img {
        vertical-align: middle;
    }
    
    .container {
        position: relative;
        width: 70%;
    }

    .mySlides {
        display: none;
    }
    
    .cursor {
        cursor: pointer;
    }
    
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }
    
    .next {
        color: white;
        margin-left:570px;
        border-radius: 3px 0 0 3px;
    }
    
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    .caption-container {
        text-align: center;
        background-color: #222;
        color: white;
        width: 70%;
        height: 70px;
        margin-bottom: 10px;
        margin-top: -30px;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .column {
        float: left;
        width: 12.22%;
        color: white;
    }
    
    .demo {
        opacity: 0.6;
    }
    
    .active,
    .demo:hover {
        opacity: 1;
    }
  }